@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.usernameform{
  width: 400px;
  margin-top:40px;
  margin-left:auto;
  margin-right: auto;
}
.main{
  display: grid;
  grid-template-columns: 18% 82%;
}
.main-left{
  height: 91.2vh;
  background:#2c3e50;
}
.main-right{
  height: 91.2vh;
  background:#34495e; 
  display: grid;
  grid-template-rows: 90% 10%;
  
}
.main-right-top{
 overflow-y: scroll;
}
.main-right-bottom{
  height:60px;
  background: #34495e
}
.footer {
  /* position: fixed;
 
  bottom: 0; */
}
.msg-st{
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  font-weight: 1000;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
}
.msg-sendr{
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
  color: #fff;
}
.send-msg{
background:#34495e; 
border-radius:20px;
border:none;
padding-left:40px;
color:#fff;
}
.send-msg:focus{
box-shadow: none;
}
.navba{
  height: 60px;
  padding-top:10px;
  font-size: 13px;
  font-family: "Quicksand", sans-serif;
  font-weight: 1000;
  letter-spacing: 1px;
  border:none;
}
.example {
  text-align: center;
  background: rgba(0,0,0,0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
